/initrd
/initrd_base/lib/modules
/initrd_ums/lib/modules
/initrd_base/.commit
/initrd_base/.rooted
/initrd_base/.rooted.dgst
/initrd_base/etc/init.d/qinit
/initrd_base/opt/key/*
/initrd_base/sbin/init
